
/*** Font Family ***/

@font-face {
  font-family: "Poppins-Light";
  src: url("../fonts/Poppins/Poppins-Light.ttf") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "DMSerifDisplay-Regular", serif;
  src: url("../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf") format("woff");
  font-display: swap;
}

$brand-font-light: "Poppins-Light";
$brand-font-display: "DMSerifDisplay-Regular";
$copy-font: "";

/*** Fonts Mixins ***/

@mixin fontFix {
  font-style: normal;
  letter-spacing: normal;
}

@mixin font-L {
  @include fontFix;
  font-family: $brand-font-light;
  font-size: 1.2rem;
  line-height: 1rem;
  color: currentColor;
}

@mixin font-R {
  @include fontFix;
  font-family: $brand-font-display;
  font-size: 1.5rem;
  line-height: 1rem;
  color: currentColor;
}