* {
  box-sizing: border-box;
}

html {
  margin: 30px;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: #dad6d879;
}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #2C010F;
  padding: 8px 16px;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 74px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  font-weight: bold;
  padding: 8px 8px;
}

.main-nav__item--cta {
  color: #FFFFFF;
  background: #720628;
  padding: 8px 8px;
  border-radius: 16px;
}

.main-footer {
  background: #000000;
  padding: 32px;
  margin-top: 48px;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 16px;
}

.main-footer__link a {
  color: #FFFFFF;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #cbcfcd;
}