body {
  font-family: 'Montserrat', sans-serif;
}

#product-overview {
  background: #FF1B68;
}

.section-title {
  color: #2DDF5C;
}

#product-overview h1 {
  color: #FFFF;
  font-family: 'Anton', sans-serif;
}