#product-overview {
  background: linear-gradient(to top, rgba(80, 68, 18, 0.5) 10%, transparent), url("images/mountain.jpg") repeat-x;
  background-size: contain;
  background-origin: border-box;
  /* background-image: url("images/mountain.jpg");
  background-repeat: repeat-x;
  background-position: relative;
  background-clip: border-box;
  background-attachment: scroll; */
  width: 100%;
  height: 528px;
  padding: 10px;
  margin-top: 55px;
  position: relative;
}

#product-overview h1 {
  color: #FFFFFF;
  font-family: 'DM Serif Display', serif;
  position: absolute;
  bottom: 0;
  left: 3%;
}

.section-title {
  color: #720628;
  text-align: center;
}

#plans p {
  font-weight: bold;
}

.plan__list {
  width: 80%;
  margin: auto;
  text-align: center;
}

.plan {
  background: #720628;
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
  color: #FFFFFF;
  border-radius: 16px;
}

.plan:hover,
.plan:active {
  padding: 24px;
}

.plan--highlighted {
  background: #2c010f;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
}

.plan--highlighted button {
  background: #720628;
  color: #FFFFFF;
}

.plan__annotation {
  background: #FFFFFF;
  color: #2c010f;
  padding: 8px;
  box-shadow: 2px 2px 10px 2px rgba(255, 255, 255, 0.5);
  border-radius: 16px;
}

.plan__title {
  font-style: bold;
}

.plan__price {
  color: #cbcfcd;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__features li {
  margin: 8px 0;
}

.button {
  background: #2c010f;
  color: #FFFFFF;
  font-family: inherit;
  border: 1.5px solid #2c010f;
  padding: 8px;
  border-radius: 16px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #FFFFFF;
  color: #2c010f;
}

.button:focus {
  outline: none;
}

#key-features {
  background: #720628;
  margin-top: 80px;
  padding: 16px;
}

#key-features .section-title {
  color: #FFFFFF;
  margin: 32px;
}

.key-feature__list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.key-feature {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}

.key-feature__image {
  background: #8d324f;
  width: 128px;
  height: 128px;
  border: 2px solid #2c010f;
  border-radius: 50%;
  margin: 0 auto;
  padding: 20px;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  color: #cbcfcd;
  font-size: 20px;
}