/*** Font Family ***/

@font-face {
  font-family: "Poppins-Light";
  /* src: url("../fonts/Poppins/Poppins-Light.ttf") */
  src: url("/src/fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: "DM Serif Display", serif;
  src: url("../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf")
}

/** Keyframes ***/

@keyframes wiggle {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(10deg);
  }
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Poppins-Light", sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: 2rem auto fit-content(8rem);
  grid-template-areas: "header"
                        "main"
                        "footer";
  height: 100%;
}

main {
  grid-area: main;
}

.backdrop {
  display: none;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s linear;
}

.dark-mode {
  background-color: black;
  color: white;
  z-index: 500;
}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #3547B3;
  padding: 0.5rem 1rem;
  z-index: 60;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: #E2C43F;
  display: block;
  margin: 0.6rem 0;
}


.main-header__brand {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
}

.main-nav {
  display: none;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main-nav__item {
  margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 0.2rem 0;
}
.main-nav__item a:hover,
.main-nav__item a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  font-weight: bold;
  padding: 8px;
}

.main-nav__item--cta {
  animation: wiggle 0.3s 1s 8 none;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
  color: #000000;
  background: #E2C43F;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.main-footer {
  background: #000000;
  padding: 2rem;
  margin-top: 3rem;
  grid-area: footer;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__link {
  margin: 0.5rem 0;
}

.main-footer__link a {
  color: #FFFFFF;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #cbcfcd;
}

.mobile-nav {
  transform: translateX(-100%);
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
  transition: transform 300ms ease-out;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
  color: #3547B3;
}

.button {
  background: #E2C43F;
  color: white;
  font: inherit;
  border: 1.5px solid #3547B3;
  /* padding: 0.5rem; */
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: white;
  color: #3547B3;
}

.button:focus {
  outline: none;
}

.button[disabled] {
  cursor: not-allowed;
  border: #a1a1a1;
  background: #ccc;
  color: #a1a1a1;
}

.open {
  display: block !important;
  opacity: 1 !important;
  transform: translateY(0) !important;
}

@media (min-width: 40rem) {
  .toggle-button {
    display: none;
  }

  .main-nav {
    display: flex;
  }

  .main--header {
    display: flex;
    align-items: center;
  }

  .main-footer__link {
    margin: 0 1rem;
  }

  .main-footer__links {
    flex-direction: row;
    justify-content: center;
  }
}