body {
  font-family: sans-serif;
}

h1 {
  color: blueviolet;
  font-family: sans-serif;
}

code {
  font-family: monospace;
  color: red;
}

li {
  font-family: inherit;
}

li + li {
  background-color: black;
  color: white;
}

ol > li {
  background-color: black;
  color: white;
}

.second-paragraphy code {
  color: green;
}