* {
  font-family: sans-serif;
}

h1 {
  color: blueviolet;
  font-family: sans-serif;
}

code {
  font-family: monospace;
  color: red;
}

.rules li {
  background-color: black;
  color: white;
}

li {
  font-family: inherit;
}

.first-paragraphy {
  background-color: black;
  color: white;
}

.second-paragraphy code {
  color: green;
}